@using TicketSystem.Web.Areas.Admin.Models.SongsViewModels
@model  TicketSystem.Web.Areas.Admin.Models.SongsViewModels.DeleteSongViewModel 

@{
    this.ViewBag.Title = $"Delete '{this.Model.SongName}'";
    this.Layout = "_Layout";
}

<script>
    document.getElementById("body").className += " DeleteSongsAdmin FormatImage";
</script>

<h2>@this.ViewData[ "Title" ]</h2>

<h3>Are you sure you want to delete this song?</h3>

<a class="btn btn-danger Sharp" asp-area="Admin" asp-controller="SongsAdmin" asp-action="Destroy" asp-route-id="@this.Model.Id">Yes, delete it.</a>
<a class="btn btn-default Sharp" asp-area="Admin" asp-controller="SongsAdmin" asp-action="Index">Cancel</a>