@{
    ViewBag.Title = "Empty cart";
    Layout = "_Layout";
}

<h1>Sorry, you haven't ordered anything yet.</h1>

<script>
    $("body").addClass("empty-cart");
    $("main").attr("id","container");
</script>
