@model CreateConcertServiceModel 

@{
    ViewBag.Title = "Create Concert";
    Layout = "_Layout";
}
<script>
    document.getElementById("body").className += " ";
</script>


<h2 class="text-center">@this.ViewData[ "Title" ]</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control Sharp" placeholder="Enter Song Name..."/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre"></label> (Hold Ctrl to select multiple)
                <select asp-for="Genre" class="form-control Sharp" multiple="multiple">
                    <option selected disabled>Select Genre...</option>
                    @foreach ( var enumValue in Enum.GetValues( typeof( Genre ) ).Cast< Genre >() )
                    {
                        <option value="@( ( int ) enumValue )">@enumValue</option>
                    }
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control Sharp" placeholder="Enter Song Name..."/>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control Sharp" placeholder="Enter Song Name..."/>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                <input asp-for="Location" class="form-control Sharp" placeholder="Enter Song Name..."/>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate"></label>
                        <input asp-for="StartDate" class="form-control Sharp" placeholder="Enter Song Name..."/>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate"></label>
                        <input asp-for="EndDate" class="form-control Sharp" placeholder="Enter Song Name..."/>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumberOfTickets"></label>
                <input asp-for="MaxNumberOfTickets" class="form-control Sharp" placeholder="Maximum Number of Tickets..."/>
                <span asp-validation-for="MaxNumberOfTickets" class="text-danger"></span>
            </div>
            <input type="submit" value="Create Concert" class="btn btn-custom Sharp"/>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    @await Html.PartialAsync( "_ValidationScriptsPartial" )
}