.AllSongsAdmin {
    background-image: url("../images/Admin/Songs/allSongsBackground.jpg");
    color: wheat;
}

.AllSongsAdminTable {
    color: lightgrey
}

    .AllSongsAdminTable th {
        font-size: 20px;
        color: wheat
    }

    .AllSongsAdminTable tr:hover td {
        background-color: black;
        color: wheat
    }

.btn-custom {
    background: #6e6e6e;
    background-image: linear-gradient(to bottom, #6e6e6e, #000000);
    border-radius: 0;
    border: none;
    color: goldenrod;
    padding: 10px 20px;
    text-decoration: none;
}

    .btn-custom:hover {
        background: #000000;
        background-image: linear-gradient(to bottom, #000000, #6e6e6e);
        color: gold;
        text-decoration: none;
    }

.CreateSongsAdmin {
    background: url("../images/Admin/Songs/createSongBackground.jpg") center no-repeat;
    background-size: cover
}

.adm main {
    min-height: 650px;
    background: #000000;
    background: rgba(0,0,0,.8)
}

.adm h2, .adm main label {
    background: linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.CreateAlbumsAdmin {
    background: url("../images/Admin/Albums/albumCreateBackground.jpg") center no-repeat;
    background-size: cover
}

.CreateBandsAdmin {
    background: url("../images/Admin/Bands/bandCreateBackground.jpg") center no-repeat;
    background-size: cover
}

.DeleteSongsAdmin {
    background: url("../images/Admin/Songs/deleteSongBackground.jpg") center no-repeat;
    color: crimson;
}

.EditSongsAdmin {
    background: url("../images/Admin/Songs/editSongBackground.jpg") center no-repeat;
    background-size: cover
}

.ManageUsersAdmin {
    background: url("../images/Admin/manageUsersAdmin.jpg") center no-repeat;
    background-size: cover
}
