.nu-index {
    background-image: url("/images/Users/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: goldenrod
}

    .nu-index h2 {
        color: cyan
    }

.nu-index-img-prev {
    height: 200px !important;
    width: 150px !important
}

.FrontPage {
    background: rgba(0, 0, 0, 0.8);
}

.btn-normal {
    background: black;
    color: cyan;
}

    .btn-normal:hover, .btn-normal:focus, .btn-normal:active, .btn-normal.active, .open > .dropdown-toggle.btn-normal {
        background: rgb(50, 50, 50);
        color: cyan;
    }

    .btn-normal:active, .btn-normal.active {
        background: darkgray;
        box-shadow: none;
        color: cyan;
    }

.nav.navbar-nav.navbar-right li a {
    color: goldenrod;
}


.nu-details-Title {
    color: darkgoldenrod
}

.nu-bands-Index {
    background: url("../images/Users/all-bands.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

    .nu-bands-Index h1, .nu-bands-Index h3 {
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.nu-bands-ListBands {
    padding: 10px;
    list-style: none;
    background: black;
    color: grey
}

    .nu-bands-ListBands:hover {
        text-decoration: none;
        cursor: pointer
    }

    .nu-bands-ListBands a {
        color: goldenrod
    }



.nu-LoginRegister {
    background: url("../images/loginRegisterBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: goldenrod
}

.nu-Search {
    background: url("../images/Users/searchBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: goldenrod
}

.nu-Concert-Comments {
    background-color: rgb(50, 50, 50);
    border-radius: 0px;
    margin-bottom: 10px
}

.nav-item-custm {
    background: black !important;
}

.dropdown:hover {
    cursor: pointer
}

.nav-item-custm a:hover {
    background: rgb(25, 25, 25) !important;
    background-image: none !important;
}
